body {
    color: white;
    background-color: #202125;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 1em;

    .title {
        text-transform: uppercase;
    }
}

.main-left {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 1em;
}

.main-right {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 1em;
}

.info-card-container {
    display: flex;
    justify-content: space-between;
}

.info-card {
    display: flex;
    flex-direction: column;
    width: 20em;
    background-color: #2c2e38;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 0.5em 1em;

    h5 {
        font-size: 2rem;
    }

    .number {
        font-size: 2rem;
    }

    .text {
        font-size: 3rem;
    }
}

.fa-arrow-up {
    color: green;
}

.fa-arrow-down {
    color: red;
}

#daterange {
    background-color: #2c2e38;
    color: white;
}

#daterange_button {
    background-color: #2c2e38;
    color: white;
}
