html,
body,
div,
h1,
h5,
img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  color: white;
  margin: 1em !important;
  background-color: #202125;
}

#grid-page-wrapper {
  column-gap: 1em;

  @media (max-width: 800px) {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
}

.header {
  .title {
    font-size: 2em;
    text-transform: uppercase;
  }

  @media (max-width: 800px) {
    flex-direction: column !important;
    gap: 1em !important;
  }
}

.info-card-container {
  display: flex;
  justify-content: space-between;

  @media (max-width: 800px) {
    flex-direction: column;
    gap: 10px;
    padding-bottom: 1em;
  }
}

.info-card {
  display: flex;
  background-color: #2c2e38;
  border: 1px solid gray;
  flex-direction: column;
  min-width: 23%;
  border-radius: 0.3em;
  padding: 0.5em 1em;

  h5 {
    font-size: 0.8em;
  }

  .number {
    font-size: 0.8em;
  }

  .text {
    font-size: 1.5em;
  }

  @media (max-width: 800px) {
    min-width: 100%;
  }
}

.chart-container {
  height: 250px;
  overflow-y: hidden;
  border-radius: 0.3em;
}

.shiny-plot-output {
  min-width: 650px !important;

  @media (max-width: 800px) {
    min-width: 100%;
  }
}

.fa-arrow-up {
  color: green;
}

.fa-arrow-down {
  color: red;
}

#daterange {
  background-color: #2c2e38;
  color: white;
}

#daterange_button {
  background-color: #2c2e38;
  color: white;
}

.echarts4r {
  border-radius: 3em;
  min-width: 650px;

  @media (max-width: 800px) {
    min-width: 100%;
  }
}
