.header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    .title {
        text-transform: uppercase;
    }
}

.main-left {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 1em;
}

.main-right {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 1em;
}

.summary {
    display: flex;
    justify-content: space-between;
}

.info-card {
    display: flex;
    width: 20em;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 8px;
    padding: 0.5em 1em;

    h5 {
        font-size: 2rem;
    }

    .number {
        font-size: 2rem;
    }

    .text {
        font-size: 3rem;
    }
}

.fa-arrow-up {
    color: green;
}

.fa-arrow-down {
    color: red;
}